@use "../../styles/partials/variables" as *;

.card {
  background-color: #fff;
  padding: 2rem;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: all 0.2s ease;

  &:hover {
    scale: 1.025;
  }

  &__title {
    font-size: 1.2rem;
    max-width: 18.75rem;
  }

  &__image {
    max-width: 18.75rem;
    border-radius: 12px;
  }

  &__ingredients {
    padding: 1rem 0;
    max-width: 18.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding-left: 1rem;
  }
}
